/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-md-height {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
}

/* Vertically centered rows */
.table tbody>tr>td.vert-align {
	vertical-align: middle;
}

/* Jobs badges */
.badge-PLD {
	background-color: #1B98E0;
}
.badge-WAR {
	background-color: #247BA0;
}
.badge-DRK {
	background-color: #006494;
}
.badge-WHM {
	background-color: #049016;
}
.badge-SCH {
	background-color: #41B338;
}
.badge-AST {
	background-color: #7FD75B;
}
.badge-MNK {
	background-color: #97071B;
}
.badge-DRG {
	background-color: #A82721;
}
.badge-NIN {
	background-color: #B94728;
}
.badge-BRD {
	background-color: #CB682E;
}
.badge-MCH {
	background-color: #DC8835;
}
.badge-BLM {
	background-color: #EDA83B;
}
.badge-SMN {
	background-color: #FFC942;
}
